.Hero {
  padding-block: var(--space-7);
}

.Hero__content {
  display: grid;
  max-inline-size: calc(var(--container-content-width) / 2);
  gap: var(--space-3);
  margin-inline: auto;
  text-align: center;
}

.Hero__title {
  font-size: var(--font-size-heading-2);
  line-height: var(--line-height-heading);
}

.Hero__description {
  color: var(--color-text-secondary);
  font-size: var(--font-size-body-large);
  line-height: var(--line-height-body);
}

@media (min-width: 768px) {
  .Hero {
    padding-block: var(--space-7);
  }

  .Hero__title {
    font-size: var(--font-size-display);
    line-height: var(--line-height-display);
  }
}
