.ProductLinkField {
  position: relative;
  flex: 1 1 auto;
  text-align: start;
}

.ProductLinkField__icon {
  position: absolute;
  z-index: var(--z-index-dropdown);
  inset-block-start: calc(var(--space-3) + var(--space-3));
  inset-inline-start: var(--space-2);
  inline-size: var(--font-size-body);
  block-size: var(--font-size-body);
  color: var(--color-text-secondary);
  pointer-events: none;
}

.ProductLinkField .TextField__input {
  padding-inline-start: var(--space-5);
}
